{% extends 'layout.twig' %}

{% block content %}
	<a class="btn btm-sm float-left" style="margin-bottom: 1vh;" href="/command/new"><i class="fas fa-plus"></i> New</a>
		<div class="clearfix"></div>
		<ul class="list-group">
			{% for key, command in commands %}
				<li class="list-group-item">
					<p>
						<b>s! {{ command.prefixes[0] }}</b><br>
						<a class="btn btn-danger btm-sm float-right ml-2" href="/commands/delete/{{ key }}">Delete</a>
						<a class="btn btn-primary btm-sm float-right" href="/command/{{ key }}">Edit</a>
						<small class="text-muted">
							{{ command.help }}
						</small>
					</p>
				</li>
			{% endfor %}
		</ul>
{% endblock %}