{% extends 'layout.twig' %}

{% block content %}
	<p>
		Welcome to Stack. Please visit the <code>Commands</code> section to get started.<br><br>
		
		If you need help, please visit the <a href="https://github.com/DDynamic/Stack">Github Repository</a>.
		Also, feel free to reach out on <a href="https://discord.gg/fWv7z8t">Discord</a> for support!<br><br>
		
		<b>If this project helped you, please consider donating. It means a lot!</b>
	</p>
{% endblock %}