<html>
    <head>
        <title>Stack</title>
        <meta name="viewport" content="initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>
    <body>
		<div class="container" style="margin-top: 3vh;">
			<div class="row">
				<div class="col-12 col-md-3">
					<h2><img src="https://i.imgur.com/olWHzGG.png" height="64" width="64"> Stack</h2><hr>
					<div class="list-group">
						<a href="#home" data-toggle="tab" class="list-group-item list-group-item-action">Home</a>
						<a href="#commands" data-toggle="tab" class="list-group-item list-group-item-action">Commands</a>
					</div>
				</div>
				<div class="col-12 col-md-9" style="margin-top: 2vh;">
					<div class="card">
						<div class="card-body">
							<div class="tab-content">
								<div class="tab-pane active" id="home">
									Home
								</div>
								<div class="tab-pane" id="commands">
									Commands
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <p class="text-center">
				© Dylan Seidt 2018<br><br>
				<a href="https://www.paypal.com/donate/?token=3pS1qS1KrMHcEfhcoaN-tK-03Wfdsl7OXrmfVvYAIspiiNU75tlwZPeAjq4400_W8KUS7m&country.x=US&locale.x=US"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"></a>
			</p>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
        </script>
    </body>
</html>